{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% block javascript %}
<script>
  $(function () {
	$('#js-slider-2').slick({
		arrows: true, // 前・次のボタンを表示する
		speed: 500, // スライドさせるスピード（ミリ秒）
		slidesToShow: 4, // 表示させるスライド数
		centerMode: true, // slidesToShowが奇数のとき、現在のスライドを中央に表示する
		variableWidth: true, // スライド幅の自動計算を無効化
	});
  });
</script>
{% endblock %}

<div class="artPicked-margin">
<h1 class="fontWeightBold">注目の作品</h1>
<h4>販売中の人気現代アート作品をご覧いただけます</h4>
</div>
<ul class="slider-2" id="js-slider-2">
  <li>
    <div class="ec-newItemRole__listItem">
        <a href="{{ url('product_detail', {'id': '2'}) }}">
            <img src="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc4NTk4NjgxNjM0NTI3/hith-art-heists-scream-2.jpg">
            <p class="ec-newItemRole__listItemTitle">{{ 'チェリーアイスサンド'|trans }}</p>
            <p class="ec-newItemRole__listItemPrice">{{ '￥800(税込)'|trans }}</p>
        </a>
    </div>
  </li>
  <li>
    <div class="ec-newItemRole__listItem">
        <a href="{{ url('product_detail', {'id': '1'}) }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Vincent_van_Gogh_-_Road_with_Cypress_and_Star_-_c._12-15_May_1890.jpg">
            <p class="ec-newItemRole__listItemTitle">{{ '彩のジェラート"CUBE"'|trans }}</p>
            <p class="ec-newItemRole__listItemPrice">{{ '￥1,200(税込)'|trans }}</p>
        </a>
    </div>
  </li>
  <li>
   <div class="ec-newItemRole__listItem">
        <a href="{{ url('product_detail', {'id': '1'}) }}">
            <img src="https://i.pinimg.com/550x/27/f0/27/27f027c0307c6e0b2fb3785fff3dc619.jpg">
            <p class="ec-newItemRole__listItemTitle">{{ '彩のジェラート"CUBE" NEO'|trans }}</p>
            <p class="ec-newItemRole__listItemPrice">{{ '￥600(税込)'|trans }}</p>
        </a>
    </div>
  </li>
  <li>
    <div class="ec-newItemRole__listItem">
        <a href="{{ url('product_detail', {'id': '2'}) }}">
            <img src="{{ asset('sand-1.png', 'save_image') }}">
            <p class="ec-newItemRole__listItemTitle">{{ 'チェリーアイスサンド'|trans }}</p>
            <p class="ec-newItemRole__listItemPrice">{{ '￥800(税込)'|trans }}</p>
        </a>
    </div>
  </li>
  <li>
    <div class="ec-newItemRole__listItem">
        <a href="{{ url('product_detail', {'id': '1'}) }}">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM36xAulujYFx7EDW2lPVOjiuO5gY_voxTCw&usqp=CAU">
            <p class="ec-newItemRole__listItemTitle">{{ '彩のジェラート"CUBE"'|trans }}</p>
            <p class="ec-newItemRole__listItemPrice">{{ '￥1,200(税込)'|trans }}</p>
        </a>
    </div>
  </li>
  <li>
   <div class="ec-newItemRole__listItem">
        <a href="{{ url('product_detail', {'id': '1'}) }}">
            <img src="https://assets.vogue.in/photos/62cf31a61e37a88fc16e86ff/2:3/w_2560%2Cc_limit/Potato%2520Wedges%2520and%2520Time.jpg">
            <p class="ec-newItemRole__listItemTitle">{{ '彩のジェラート"CUBE" NEO'|trans }}</p>
            <p class="ec-newItemRole__listItemPrice">{{ '￥600(税込)'|trans }}</p>
        </a>
    </div>
  </li>
</ul>
