{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% block javascript %}
<script>
  $(function () {
	$('#js-slider-2').slick({
		arrows: true, // 前・次のボタンを表示する
		speed: 500, // スライドさせるスピード（ミリ秒）
		slidesToShow: 4, // 表示させるスライド数
		centerMode: true, // slidesToShowが奇数のとき、現在のスライドを中央に表示する
		variableWidth: true, // スライド幅の自動計算を無効化
	});
  });
</script>
{% endblock %}

<ul class="slider-2" id="js-slider-2">
  <li>
    <div class="ec-newItemRole__listItem">
        <a href="{{ url('product_detail', {'id': '2'}) }}">
            <img src="{{ asset('sand-1.png', 'save_image') }}">
            <p class="ec-newItemRole__listItemTitle">{{ 'チェリーアイスサンド'|trans }}</p>
            <p class="ec-newItemRole__listItemPrice">{{ '￥800(税込)'|trans }}</p>
        </a>
    </div>
  </li>
  <li>
    <div class="ec-newItemRole__listItem">
        <a href="{{ url('product_detail', {'id': '1'}) }}">
            <img src="{{ asset('cube-1.png', 'save_image') }}">
            <p class="ec-newItemRole__listItemTitle">{{ '彩のジェラート"CUBE"'|trans }}</p>
            <p class="ec-newItemRole__listItemPrice">{{ '￥1,200(税込)'|trans }}</p>
        </a>
    </div>
  </li>
  <li>
   <div class="ec-newItemRole__listItem">
        <a href="{{ url('product_detail', {'id': '1'}) }}">
            <img src="{{ asset(''|no_image_product , 'save_image') }}">
            <p class="ec-newItemRole__listItemTitle">{{ '彩のジェラート"CUBE" NEO'|trans }}</p>
            <p class="ec-newItemRole__listItemPrice">{{ '￥600(税込)'|trans }}</p>
        </a>
    </div>
  </li>
  <li>
    <div class="ec-newItemRole__listItem">
        <a href="{{ url('product_detail', {'id': '2'}) }}">
            <img src="{{ asset('sand-1.png', 'save_image') }}">
            <p class="ec-newItemRole__listItemTitle">{{ 'チェリーアイスサンド'|trans }}</p>
            <p class="ec-newItemRole__listItemPrice">{{ '￥800(税込)'|trans }}</p>
        </a>
    </div>
  </li>
  <li>
    <div class="ec-newItemRole__listItem">
        <a href="{{ url('product_detail', {'id': '1'}) }}">
            <img src="{{ asset('cube-1.png', 'save_image') }}">
            <p class="ec-newItemRole__listItemTitle">{{ '彩のジェラート"CUBE"'|trans }}</p>
            <p class="ec-newItemRole__listItemPrice">{{ '￥1,200(税込)'|trans }}</p>
        </a>
    </div>
  </li>
  <li>
   <div class="ec-newItemRole__listItem">
        <a href="{{ url('product_detail', {'id': '1'}) }}">
            <img src="{{ asset(''|no_image_product , 'save_image') }}">
            <p class="ec-newItemRole__listItemTitle">{{ '彩のジェラート"CUBE" NEO'|trans }}</p>
            <p class="ec-newItemRole__listItemPrice">{{ '￥600(税込)'|trans }}</p>
        </a>
    </div>
  </li>
</ul>
