{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set Categories = repository('Eccube\\Entity\\Category').getList() %}

{% macro tree(Category) %}
    {% from _self import tree %}
    <a href="{{ url('product_list') }}?category_id={{ Category.id }}">
        {{ Category.name }}
    </a>
    {% if Category.children|length > 0 %}
        <ul>
            {% for ChildCategory in Category.children %}
                <li>
                    {{ tree(ChildCategory) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{# @see https://github.com/bolt/bolt/pull/2388 #}
{% from _self import tree %}

<div class="ec-headerCategoryArea">
    <div class="ec-headerCategoryArea__heading">
		<div><i class="fa-solid fa-palette pr-10"></i></div>
		<div><a href="/products/list">{{ '商品一覧'|trans }}</a></div>
    </div>
    <div class="ec-headerCategoryArea__heading">
        <div><i class="fa-solid fa-pen-fancy pr-10"></i></div>
		<div><p>{{ 'カテゴリ一覧'|trans }}</p></div>
    </div>
    <div class="ec-headerCategoryArea__heading">
       <div> <i class="fa-solid fa-id-badge pr-10"></i></div>
	   <div><p>{{ 'アーティスト一覧'|trans }}</p></div>
    </div>
</div>
