{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-headerNav">
    {% if is_granted('ROLE_USER') %}
        <div class="ec-headerNav__item">
            <a href="{{ url('mypage') }}">
				<span class="c-tooltip" data-tooltip="マイページ"><i class="ec-headerNav__itemIcon fas fa-user fa-fw"></i></span>
            </a>
        </div>
        {% if BaseInfo.option_favorite_product %}
            <div class="ec-headerNav__item">
                <a href="{{ url('mypage_favorite') }}">
					<span class="c-tooltip" data-tooltip="お気に入り"><i class="ec-headerNav__itemIcon fas fa-heart fa-fw"></i></span>
                </a>
            </div>
        {% endif %}
        <div class="ec-headerNav__item">
            <a href="{{ url('logout') }}">
				<span class="c-tooltip" data-tooltip="ログアウト"><i class="ec-headerNav__itemIcon fas fa-right-from-bracket fa-fw"></i></span>
            </a>
        </div>
    {% else %}
        <div class="ec-headerNav__item">
            <a href="{{ url('entry') }}">
				<span class="c-tooltip" data-tooltip="新規会員登録"><i class="ec-headerNav__itemIcon fas fa-user fa-fw"></i></span>
            </a>
        </div>
        {% if BaseInfo.option_favorite_product %}
            <div class="ec-headerNav__item">
                <a href="{{ url('mypage_favorite') }}">
					<span class="c-tooltip" data-tooltip="お気に入り"><i class="ec-headerNav__itemIcon fas fa-heart fa-fw"></i></span>
                </a>
            </div>
        {% endif %}
        <div class="ec-headerNav__item">
            <a href="{{ url('mypage_login') }}">
                <span class="c-tooltip" data-tooltip="ログイン"><i class="ec-headerNav__itemIcon fas fa-lock fa-fw"></i></span>
            </a>
        </div>
    {% endif %}
</div>
