{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-topicRole">
    <div class="ec-role">
        <div class="ec-secHeading">
            <span class="ec-secHeading__en">{{ 'TOPICS'|trans }}</span>
            <span class="ec-secHeading__line"></span>
            <span class="ec-secHeading__ja">{{ '特集'|trans }}</span>
        </div>
        <div class="ec-topicRole__list">
            <div class="ec-topicRole__listItem">
                <a href="{{ url('product_list') }}?category_id=1">
                    <img src="https://images.microcms-assets.io/assets/b571060f85214cc38c80fa2372e05495/1ece142cc4144fc092daa69312795011/note%E3%83%8F%E3%82%99%E3%83%8A%E3%83%BC_%E6%8E%A8%E3%81%97%E3%82%A2%E3%83%BC%E3%83%88.webp">
                </a>
                <p class="ec-topicRole__listItemTitle">{{ '1000点の中から選んだ「私の推し」アート'|trans }}</p>
            </div>
            <div class="ec-topicRole__listItem">
                <a href="{{ url('product_list') }}?category_id=5">
                    <img src="https://images.microcms-assets.io/assets/b571060f85214cc38c80fa2372e05495/937099e9b6284981b2cb03dbef472cbe/note%E7%94%A8PickUpArtists%E3%83%8F%E3%82%99%E3%83%8A%E3%83%BC%EF%BC%88%E3%82%AF%E3%82%99%E3%83%AC%E3%83%BC%EF%BC%89.webp">
                </a>
                <p class="ec-topicRole__listItemTitle">{{ '今週の推しアーティスト'|trans }}</p>
            </div>
        </div>
    </div>
</div>
